@charset "UTF-8";

@font-face {font-family: 'FuturaLight';	src: url("../fonts/FuturaPTLight.otf");}
@font-face {font-family: 'FuturaBold';	src: url("../fonts/FuturaPTBold.otf");}

/*CONTEÚDO DA PAGINA*/
.conteudo-pagina{padding: 15px; height: calc(100vh - 42px); position: relative; overflow: hidden;}
.conteudo-pagina h1{margin-bottom: 21px; font-family: FuturaBold; color: #343a40;}
.conteudo-pagina .formulario label{font-family: FuturaBold; color: #343a40;}
.conteudo-pagina .formulario .linha-do-nome{align-items: center;}
.conteudo-pagina .formulario .botoes{position: absolute; bottom: 35px; width: 97.6%;}
.conteudo-pagina .formulario #mensagem-cpf{margin-left: 60px; color: red}
.conteudo-pagina .formulario .inline-cpf{margin-bottom: 8px; color: red}
.modal h5{font-family: FuturaBold;}
#mensagem{font-family: FuturaBold;}


