@charset "UTF-8";

@font-face {font-family: 'FuturaLight'; src: url("../fonts/FuturaPTLight.otf");}
@font-face {font-family: 'FuturaBold';  src: url("../fonts/FuturaPTBold.otf");}

/*CONTEÚDO DA PAGINA*/
.conteudo-pagina{padding: 15px; height: calc(100vh - 42px); position: relative; overflow: hidden;}
.conteudo-pagina h1{margin-bottom: 50px; font-family: FuturaBold; color: #343a40;}
.conteudo-pagina .formulario label{font-family: FuturaBold;}
.conteudo-pagina .tabela{padding-top: 15px;}
.conteudo-pagina .tabela tbody{height: calc(100vh - 270px);}/*Cabecalho 42 + Padding 15 + H1 56 + Input 44 + Padding-Tabela 15 + Margem-Embaixo 15 = 187*/


